//- Wherever the content for the isi is needs to have the class clone_target for this to work
script.

	// The Link that will trigger the ISI expansion
	var expandLinkSelector = '.expand_isi';

	// The top level container of the sticky section 
	var stickySelector = '#isi_sticky';
	
	// The highest level container of the ISI at the bottom of the page. Not the sticky part
	var staticSelector = '#isi-container';
	
	// The container the cloned content will be appended to
	var stickyContentSelector = '.sticky_content';

	// The section that should scroll while the footer is stuck
	var isiScrollContainerSelector = '.isi-wrapper';

	var scrollTopSave = 0;

	var expanded = false;

	var expanding = false;
	
	jQuery.extend({
		getQueryParameters: function (str) {
			return (str || document.location.search).replace(/(^\?)/, '').split("&").map(function (n) {
				return n = n.split("="), this[n[0]] = n[1], this
			}.bind({}))[0];
		}
	});

	function hideShow(stickyElement, staticElement){

		var clonedElement = $(stickySelector);

		if (isOnScreen(stickyElement, staticElement) || expanding) {
			clonedElement.removeClass('show');
		}
		else {
			if(!clonedElement.hasClass('show')){
				$(isiScrollContainerSelector).scrollTop(0);
			}

			clonedElement.addClass('show');
			$('.clone_target').removeClass('expanded');
			expanded = false;
		}
	}

	function isOnScreen(stickyElement, staticElement) {
		return stickyElement.offset().top > staticElement.offset().top;
	};

	function toggleISI(cloneTarget){
		var offset = cloneTarget.offset();
		offset.top -= 20;
		offset.left -= 20;

		if(!expanded){
			scrollTopSave = $(document).scrollTop();
			expanded = true;
			expanding = true;
			cloneTarget.addClass('expanded');
			$('html, body').animate({
				scrollTop: offset.top,
				scrollLeft: offset.left
			}, 275, function() {expanding = false;});
		}
		else{
			expanded = false;
			cloneTarget.removeClass('expanded');
			$('html, body').animate({
				scrollTop: scrollTopSave,
				scrollLeft: 0
			}, 275);
		}
	}

	$(document).ready(function () {
	
		// Add ?sticky-isi=false  to the URL to remove for screenshots
		if($.getQueryParameters()['sticky-isi'] == 'false'){
			return;
		}

		var cloneTarget = $('.clone_target');
		var stickyContentTarget = $(stickyContentSelector);
		var staticElement = $(staticSelector);
		var stickyElement = $(stickySelector);
		var scroller = cloneTarget.clone();

		scroller.removeClass('clone_target').removeAttr('id');

		stickyElement.css("bottom", 0);

		stickyContentTarget.append(scroller);

		var expandLink = $(expandLinkSelector);

		hideShow(stickyElement, staticElement);

		$(window).on("scroll resize", function () {
			hideShow(stickyElement, staticElement);
		});

		expandLink.click(function () {
			toggleISI(cloneTarget);
		});
	});

#isi_sticky
	.sticky_content