header(class="banner navbar navbar-default navbar-static-top", role="banner")
	div(class="container")
		div(class="navbar-header")
			button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navigation")
				span(class="sr-only") Toggle navigation
				span(class="icon-bar")
				span(class="icon-bar")
				span(class="icon-bar")
			a(class="navbar-brand", href="") Site Name
		nav(id="navigation" class="collapse navbar-collapse", role="navigation", aria-expanded="false", style="height: 0px;")
			include nav.pug