mixin pagehead(page_name)
	head
		meta(charset='utf-8')
		meta(http-equiv='x-ua-compatible', content='ie=edge')
		title #{title}
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1')

		link(rel='stylesheet', href='css/styles.css')

mixin responsiveImage(image_class, id, src, srcset_2x, srcset_3x, width, height, alt)
	img(class=image_class id=id src=src srcset=src + ' 1x, ' + srcset_2x + ' 2x, ' + srcset_3x + ' 3x', alt=alt, width=width, height=height)

mixin modal(modal_id, modal_content)
	.modal(id=modal_id class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
		.modal-dialog
			.modal-content
				.modal-header
					button(type="button" class="close" data-dismiss="modal" aria-label="Close")
						span(aria-hidden="true")
				.modal-body !{modal_content}
				.modal-footer

mixin videoModal(modal_id, modal_content)
	.modal(id=modal_id class="modal fade video_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
		.modal-dialog
			.modal-content
				button(type="button" class="close" data-dismiss="modal" aria-label="Close")
					span(aria-hidden="true")
				.modal-body !{modal_content}
mixin ga (code)
		script.
			(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
			function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
			e=o.createElement(i);r=o.getElementsByTagName(i)[0];
			e.src='https://www.google-analytics.com/analytics.js';
			r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
			ga('create','!{code}','auto');ga('send','pageview');