- var page_name = "PAGENAME"
include ./includes/mixins.pug
doctype html
html(lang="en")
	+pagehead(page_name)
	body(class="#{page_name}")
		include ./includes/header.pug
		div(class="wrap container" role="document")
			main(class="main" role="main")
				p Hello world! This is the Pug static boilerplate.

		script(src='js/scripts_min.js')
		+ga('UA-XXXXX-X')